
#qr {
    border: 20px solid #fff;
    margin: 20px auto 0 auto;
    max-width: 256px;
}

#message {
    font-family: freightsans;
    text-transform: uppercase;
    line-height: 1.35;
    letter-spacing: 0.1em;
    color: #FFF;
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 30px 0px 0px 0px;
    padding-bottom: 0.2em;
    display: block;
    text-align: center;
}

div.email-suggestion {
    background-color: white;
    margin-top: -9px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: freightsans;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    font-style: italic;
    display: none;
    border: solid gray 1px;
}

div.email-suggestion .x {
    float: right;
    cursor: pointer;
    padding-right: 3px;
}
